<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>D7 to D8 Theme Crash Course</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/league.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
		<style>
			.line {
				display: block;
				padding: 0.1em;
				opacity: 0.25;
			}
			.line.focus {
				opacity: 1;
			}

			.block--left {
				float: left;
				width: 48%;
			}

			.block--right {
				float: right;
				width: 48%;
			}

			.block--d7::before {
				content: 'Drupal 7';
			}
			.block--d8::before {
				content: 'Drupal 8';
			}
			.block--d7::before,
			.block--d8::before {
				font-size: 0.5em;
				color: rgba(255,255,255,0.5);
				display: block;
				text-transform: uppercase;
			}

			.block--d7 {
				position: relative;
			}

			.block--d7::after {
				position: absolute;
				content: "→";
				display: block;
				top: 50%;
				right: -6%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				transform: translateY(-50%);
				font-size: 0.75em;
				color: rgba(255,255,255,0.25);
			}

		</style>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section data-background="lib/images/slide-bg-d8.png">
					<h1 style="font-size:100px;">D7 to D8 Theme Crash Course</h1>
					<h3>Vancouver Drupal Users Group</h3>
					<p>
						<small>
						By Leah Wagner // d.o: leahtard // <a href="http://twitter.com/leahamwagner">@leahamwagner</a>
						<br>&amp;
						Joël Pittet // d.o: joelpittet // <a href="http://twitter.com/joelpittet">@joelpittet</a>
						</small>
					</p>
				</section>
				<section data-background="lib/images/slide-bg-d8.png">
					<div class="block--left">
						<img src="lib/images/pic-leah.jpg" style="border-radius:50%;max-width:80px;height:auto;display:inline-block;float:left;margin-right:20px;" />
						<h4 style="display:inline-block;float:left;line-height:120px;">Leah Wagner</h4>
						<small>

						<ul>
							<li>Frontend developer at The Jibe</li>
							<li>Started in design but grew to love code</li>
							<li>I ♥ clean markup &amp; modular maintainable code</li>
							<li>Witbeir, red wine, running and rock &amp; roll</li>
						</ul>
						</small>
					</div>
					<div class="block--right">
						<img src="lib/images/pic-joel.jpg" style="border-radius:50%; max-width:80px;height:auto;display:inline-block;float:left;margin-right:20px;" />
						<h4 style="display:inline-block;float:left;line-height:120px;">Joël Pittet</h4>
						<small>

						<ul>
							<li>Drupal 8 Theme System co-maintainer</li>
							<li>Likely in your issue queues</li>
							<li>Full-stack web dev (aka: messin' about)</li>
							<li>Plays plenty of rec soccer</li>
						</ul>
						</small>
					</div>

				</section>

				<section data-background="lib/images/slide-bg-d8.png">

                    <section>
						<h2>What we will be covering</h2>
						<div class="block--left">
							<dl>
								<dt>THE PIPELINE</dt><dd><small></small></dd>
								<dt>FILE CHANGES</dt><dd><small>Name changes and the new info file</small></dd>
								<dt>BASE THEMES</dt><dd><small>Classy, Stable &amp; Strak</small></dd>
								<dt>TEMPLATES</dt><dd><small>php template > Twig!</small></dd>
								<dt>LIBRARIES</dt><dd><small>Libraries and attached assets</small></dd>
							</dl>
						</div>
						<div class="block--right">
							<dl>
								<dt>BLOCKS</dt><dd><small>New deafult theme blocks</small></dd>
								<dt>THEME HOOKS</dt><dd><small>New templates and suggestions</small></dd>
								<dt>SMACSS &amp; BEM</dt><dd><small>Folder structure and naming convetions</small></dd>
								<dt>DEBUG</dt><dd><small></small></dd>
								<dt>AUTO-ESCAPING</dt><dd><small></small></dd>
							</dl>
						</div>
					</section>

					<section>
						<h2>Conventions</h2>

						<p>Uppercase words are replaced as follows:</p>
						<div class="block--left">

							<dl class="item-list">
								<dt>THEME</dt>
								<dd>Name of your theme <br><small>eg. basic/omega/custom_theme</small></dd>
								<dt>MODULE</dt>
								<dd>Name of your module <br><small>eg. panels/context/custom_module</small></dd>
								<dt>HOOK</dt>
								<dd>Name of a theme hook aka template file. <br><small>eg. field/page/node/item_list</small></dd>
							</dl>
						</div>
						<div class="block--right">
							<img src="lib/images/conventions.jpg" alt="">
						</div>
					</section>
				</section>

				<!-- Section: Pipeline -->
				<section data-background="lib/images/slide-bg-d8-jp.png">
					<section data-background="lib/images/slide-bg-d8-jp-pipeland.jpg">
						<h1>The Pipeline</h1>
					</section>
					<section>
						<h2>The Pipeline</h2>

						<div class="block--left block--d7">
							<dl>
								<dt>DEFINE</dt><dd><small>MODULE_theme()</small></dd>
								<dt>BUILD</dt><dd><small>theme('HOOK') OR<br> render array('#theme' => 'HOOK')</small></dd>
								<dt>MODIFY</dt><dd><small>THEME_template_preprocess_HOOK</small></dd>
								<dt>FLATTEN</dt><dd><small>THEME_template_process_HOOK</small></dd>
								<dt>MARKUP</dt><dd><small>HOOK.tpl.php OR THEME_HOOK()</small></dd>
							</dl>
						</div>

						<div class="block--right block--d8">
							<dl>
								<dt>DEFINE</dt><dd><small>MODULE_theme()</small></dd>
								<dt>VARY</dt><dd><small>THEME_theme_suggestions_HOOK_alter()</small></dd>
								<dt>BUILD</dt><dd><small>render array: ['#theme' => 'HOOK']</small></dd>
								<dt>MODIFY</dt><dd><small>THEME_template_preprocess_HOOK</small></dd>
								<dt>MARKUP</dt><dd><small>HOOK.html.twig</small></dd>
							</dl>
						</div>

					</section>
				</section>


				<!-- Section: Filename Changes -->
				<section data-background="lib/images/slide-bg-d8.png">
					<section data-background="lib/images/file-changes.png">
						<h1>File Changes</h1>
					</section>

					<section>
						<h2>Directory Changes</h2>

						<div class="block--left block--d7">
							<small>
							<br>
							<ul class="item-list">
								<li>includes</li>
								<li>misc</li>
								<li>modules</li>
								<li>profiles</li>
								<li>scripts</li>
								<li>sites
									<ul>
										<li>all
											<ul>
												<li>modules</li>
												<li style="color:yellow;">themes</li>
												<li>libraries</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>themes</li>
							</ul>
						</small>
						</div>
						<div class="block--right block--d8">
							<small>
							<br>
							<ul class="item-list">
								<li>core</li>
								<li>modules</li>
								<li>profiles</li>
								<li>sites</li>
								<li style="color:yellow;">themes</li>
							</ul>
  						</small>
						</div>

					</section>


					<section>
						<h2>Name Changes</h2>

						<div class="block--left block--d7">
							<code>THEME.info</code>
							<code>template.php</code>
							<code>TEMPLATE.tpl.php</code>
						</div>
						<div class="block--right block--d8">
							<code>THEME.info.yml</code>
							<code>THEME.theme</code>
							<code>TEMPLATE.html.twig</code>
						</div>

						<div class="block--left">
						</div>
						<div class="block--right fragment">
							<code>THEME.libraries.yml</code>
						</div>

					</section>
					<section>
						<h2>Info File</h2>


						<div class="block--left block--d7">
						<small>THEME.info</small>
<pre><code data-trim data-noescape class="ini">
name = Basic
description = HTML5 and SASS theme.
core = "7.x"
project = "basic"

; Regions
regions[header] = Header
regions[content] = Content
regions[footer] = Footer

; Stylesheets
stylesheets[all][] = css/style.css
stylesheets[print][] = css/print.css

; Scripts
scripts[] = js/build/scripts.js
</code></pre>
						</div>
						<div class="block--right block--d8">
						<small>THEME.info.yml</small>
<pre><code data-trim data-noescape class="yml">
name: Basic
description: HTML5 and SASS theme.
type: theme
core: 8.x

# Regions
regions:
  header: Header
  content: Content
  footer: Footer

# Scripts & Styles
libraries:
  - basic/global
</code></pre>
						</div>

					</section>
				</section>

				<!-- Section: Base Themes -->
				<section data-background="lib/images/slide-bg-d8-jp.png">
					<section>
						<h1>Base Themes</h1>
					</section>
					<section>
						<h2>Base Themes</h2>
						<img src="lib/images/d8-base-themes.png" alt="Base Themes">
					</section>
					<section>

<div data-markdown>
### Opt-out (core aka Wild West)
```
base theme: false
```
e.g. Stark and Stable
</div>
<div class="fragment" data-markdown>
### The default
```
base theme: stable
```
Default of any theme that doesn't opt-out and Classy.
</div>
<div class="fragment" data-markdown>
###Bartik & Seven
```
base theme: classy
```
For Drupal's classes and markup.
</div>
					</section>
				</section>

				<!-- Section: Templates -->
				<section data-background="lib/images/slide-bg-d8.png">
					<section>
						<h1>Templates</h1>
					</section>
					<section data-background="lib/images/slide-bg-d8-jp.png">
						<h2>Templates</h2>

						<div>

							<div class="block--left block--d7">
								<code>TEMPLATE.tpl.php</code>
							</div>
							<div class="block--right block--d8">
								<code>TEMPLATE.html.twig</code>
							</div>
						</div>

						<div class="fragment">
							<div class="block--left block--d7">
								<code>node.tpl.php</code>
								<code>field.tpl.php</code>
							</div>
							<div class="block--right block--d8">
								<code>node.html.twig</code>
								<code>field.html.twig</code>
							</div>
						</div>

						<div class="fragment">
							<div class="block--left block--d7">
								THEME_HOOK()
							</div>
							<div class="block--right block--d8">
				HOOK.html.twig
							</div>
						</div>

						<div class="fragment">
							<div class="block--left block--d7">
								THEME_status_messages()
							</div>
							<div class="block--right block--d8">
								status-messages.html.twig
							</div>
						</div>

					</section>

					<section data-background="lib/images/slide-bg-d8.png">
						<h2>Twig Syntax</h2>
						<div class="block--left block--d7" data-markdown>
<script type="text/template">
```php
<?php if (!empty($trees)): ?>
  <ul>
  <?php
  /**
   * This is where we loop through
   * the list of trees.
   */
  ?>
  <?php foreach ($trees as $tree): ?>
	<li>
	  <strong><?php print strtoupper($tree['type']) ?></strong>:
	  <?php print render($tree['branches']) ?>
	</li>
  <?php endforeach ?>
  </ul>
<?php endif ?>

```
</script>
						</div>
						<div class="block--right block--d8">
<pre><code data-trim class="twig">
{% if trees %}
  <ul>
  {#

  This is where we loop through
  the list of trees.

  #}
  {% for tree in trees %}
  <li>
    <strong>{{ tree.type|upper }}</strong>:
    {{ tree.branches }}
  </li>
  {% endfor %}
  </ul>
{% endif %}

</code></pre>

						</div>
						<small>Strings {{ }}, Operations {% %}, Filters | &amp; Comments {# #}</small>
						<aside class="notes">
						3 types of markup: (1) Mustache brackets {{ }} redner content, like print render. (2) Mustache + % contain some sort of logic. (3) Mustache + # contains comments. Also Filtes: some argument to apply to the text you are rendering.
						</aside>
					</section>

					<section data-background="lib/images/slide-bg-d8.png">
						<h2>Twig Syntax</h2>
						<div class="block--left">
						<small>Concatenation (~)</small>
<pre><code data-trim class="twig">
{% set greeting = 'Hello ' %}
{% set name = 'Drupalistas' %}

{{ greeting ~ name|lower }}

{# Hello drupalistas #}
</code></pre>
						</div>
						<div class="block--right">
						<small>Whitespace Control (-)</small>
<pre><code data-trim class="twig">
{% set value = 'no spaces' %}
{#- No leading/trailing whitespace -#}
{%- if true -%}
    {{- value -}}
{%- endif -%}

{# output 'no spaces' #}
</code></pre>
						</div>
						<p><small>Read more: <a href="http://twig.sensiolabs.org/doc/templates.html">http://twig.sensiolabs.org/doc/templates.html</a></small></p>
					</section>

					<section>
						<h2>Templates</h2>
						<div class="block--left block--d7">
							<img src="lib/images/theme_item_list.png" alt="">
						</div>
						<div class="block--right block--d8">
							<img src="lib/images/item-list_html_twig.png" alt="">
						</div>
					</section>

					<section data-background="lib/images/slide-bg-d8-jp.png">
						<h2>Attributes</h2>
						<div class="block--left block--d7" data-markdown>
							<script type="text/template">
```php
$classes = array(
  'list',
  'of',
  'classes',
);
$classes = 'list of classes';
$attributes = ' class="some--bem"';
$attributes_array = array(
  'class' => $classes
);

```
```php
<div<?php print drupal_attributes($attirbutes); ?>>
```
</script>
						</div>
						<div class="block--right block--d8" data-markdown>
<script type="text/template">
```php
$attributes = new Attribute([
  'checked' => TRUE,
  'id' => 'stop',
  'class' => ['red', 'blue'],
]);
$variables['my_attributes'] = $attributes;
```
```twig
<div{{ my_attributes }}>
<div{{ my_attributes
  .addClass('yellow')
  .removeClass('red')
  .setAttribute('id', 'full-stop') }}>
<input{{ my_attributes.checked }}>
```
</script>
						</div>
					</section>

					<section data-background="lib/images/slide-bg-d8-jp.png">
						<h2>Attributes</h2>
						<div class="">
							<p>Do's</p>
							<div data-markdown>
								<script type="text/template">
```twig
<div{{ attributes }}></div>
<div></div>

<div class="{{ attributes.class }}"{{ attributes|without('class') }}></div>
<div class="bow ties" id="are-cool"></div>

<div id="{{ attributes.id }}-MOAR"{{ attributes|without('id') }}></div>
<div id="some-MOAR"></div>
```
								</script>
							</div>
						</div>
						<div class="">
							<p>Don'ts</p>
							<div data-markdown>
								<script type="text/template">
```twig
<div {{ attributes }}></div>
<div ></div>

<div class="{{ attributes.class }}"{{ attributes }}></div>
<div class="stetsons" class="stetsons" id="are-cool"></div>

<div{{ attributes.id }}{{ attributes|without('id') }}></div>
<divsome-MOAR></div>
```
								</script>
							</div>

						</div>


					</section>
				</section>


				<!-- Section: Libraries -->
				<section data-background="lib/images/slide-bg-d8.png">
					<section>
						<h1>Libraries</h1>
						<aside class="notes">
						Relate this to the concept of the D7 libraries folder. We can now allow D8 themes to use this.
						</aside>
					</section>
					<section>
						<h2>Libraries</h2>
						<div class="block--left block--d7" data-markdown>
						<small>THEME.info.yml</small>
<script type="text/template">
```
; Stylesheets
stylesheets[all][] = css/style.css
stylesheets[print][] = css/print.css

; Scripts
scripts[] = js/build/scripts.js
```
</script>
						</div>
						<div class="block--right block--d8" data-markdown>
						<small>THEME.info.yml</small>
<script type="text/template">
```
# Scripts & Styles
libraries:
  - THEME/global
```
</script>
						</div>
						<div class="block--right block--d8" data-markdown>
						<small>THEME.libraries.yml</small>
<script type="text/template">
```
global:
  css:
    theme:
      css/style.css: {}
      css/print.css: { media: print }
  js:
    js/modernizr.js: {}
```
</script>
						</div>
						<aside class="notes">
						Instead of adding individual style and script files to the info file, you now define a library. Within a new libraries, you will add styles and scripts. The NEW concept here is that you can add multiple libraries that can be loaded only when needed.
						</aside>
					</section>
					<section>
						<h2>Libraries</h2>
						<div class="block--d7" data-markdown>
<script type="text/template">
```
function MODULE_page_build(&$page) {
  $path = drupal_get_path('module', 'MODULE');
  drupal_add_css($path . '/MODULE.css');
  drupal_add_js($path . '/MODULE.js');
  drupal_add_library('system', 'jquery.bbq');
}
```
</script>
						</div>
						<aside class="notes">
						xxx
						</aside>
					</section>
					<section>
						<h2>Libraries</h2>
						<div class="block--left" data-markdown>
<script type="text/template">
<small>THEME.info.yml</small>
```
# Scripts & Styles
libraries:
  - THEME/global
  - THEME/bxslider
```
</script>
						</div>

                        <div class="block--right" data-markdown>
<script type="text/template">
<small>THEME.libraries.yml</small>
```
global:
  css:
    theme:
      css/style.css: {}
      css/print.css: { media: print }
bxslider:
  css:
    theme:
      css/bxslider.css: {}
  js:
    js/bxslider.js: {}
  dependancies:
    - core/jquery
```
</script>
						</div>
						<div class="block--left fragment" data-markdown>
<script type="text/template">
<small>NODE.html.twig</small>
```
{{ attach_library('basic/bxslider') }}
```
</script>
						</div>
						<aside class="notes">
						xxx
						</aside>
					</section>

					<section data-background="lib/images/slide-bg-d8-jp.png">
						<h2>#attached Assets</h2>

Attach the assets to the elements which need them.

						<div class="block--left block--d7" data-markdown>
<script type="text/template">
```
hook_page_build()
hook_page_alter()
```
</script>
						</div>
						<div class="block--right block--d8" data-markdown>
<script type="text/template">
```
hook_page_attachments()
hook_page_attachments_alter()
hook_page_top()
hook_page_bottom()
```
</script>
						</div>


						<small>@see https://www.drupal.org/node/2357755</small>
						<div class="block--left block--d7 fragment" data-markdown>
<script type="text/template">
```

@TODO needs examples.

$render_array = array('#attached' => array());
```
</script>
						</div>
						<div class="block--right block--d8 fragment" data-markdown>
<script type="text/template">
```
On preprocess Only in D8
 $variables['#attached']
And on all render arrays like D7
```

</script>
						</div>


					</section>
				</section>

				<!-- Section: Blocks -->
				<section data-background="lib/images/slide-bg-d8.png">
					<section>
						<h1>Blocks</h1>
					</section>
					<section>
						<h2>Blocks</h2>
						<div style="overflow:hidden;">
						<div class="block--left">
							<p>Branding Block</p>
						</div>
						<div class="block--right" data-markdown>
<script type="text/template">
```
<div class="block-system-branding-block">
  <a href="#"class="site-logo">
    <img src="/logo.svg" alt="Home" />
  </a>
  <div class="site-name"><a href="#">Site name</a></div>
</div>
```
</script>
						</div>
						</div>
						<div class="fragment" style="overflow:hidden;">
						<div class="block--left">
							<p>System Messages Block<br><br></p>
						</div>
						<div class="block--right" data-markdown>
<script type="text/template">
```
<div class="messages messages--error">
  <div role="alert">Please enter some keywords.</div>
</div>
```
</script>
						</div>
						</div>
						<div class="fragment" style="overflow:hidden;">
						<div class="block--left">
							<p>Menu Block</p>
						</div>
						<div class="block--right" data-markdown>
<script type="text/template">
```
<nav role="navigation" class="menu--main">
  <ul class="menu">
    <li class="menu-item"><a href="#">Home</a></li>
  </ul>
</nav>
```
</script>
						</div>
						</div>
					</section>
					<aside class="notes">
						- D7 defined in page.tpl or create your own blocks
						- simplified markup
					</aside>
				</section>

				<!-- Section: Theme Hooks -->
				<section data-background="lib/images/slide-bg-d8.png">
					<section>
						<h1>Theme Hooks</h1>
					</section>

					<section>
						<h2>Preprocess</h2>
						DIDN'T CHANGE!
						<div class="fragment">(except doesn't have suggestions...)</div>
					</section>

					<section>
						<h2>Suggestions</h2>

						<div class="block--left block--d7" data-markdown>
<script type="text/template">
<small>template.php</small>
```php
function THEME_preprocess_block(&$vars) {
  $vars['theme_hook_suggestions'][] =
    'block__bean__' . $vars['elements']['bean'];
}
```
<small>Enables block--bean--bean-type.tpl.php</small>
</script>

						</div>
						<div class="block--right block--d8" data-markdown>
<script type="text/template">
<small>HOOK_theme_suggestions_HOOK<br><em>(only works in modules)</em></small>
```php
function MODULE_theme_suggestions_HOOK(array $variables) { }
```
<small>HOOK_theme_suggestions_HOOK_alter<br><em>(works in modules &amp; themes)</em></small>
```php
function THEME_theme_suggestions_block_alter(array &$suggestions, array $variables) {
  $block = $variables['elements'];
  $blockType = $block['#configuration']['provider'];
  if ($blockType == "block_content") {
    $bundle = $block['content']['#block_content']->bundle();
    $suggestions[] = 'block__' . $bundle;
  }
}
```
<small>Enables block--custom-block-type.html.twig</small>
</script>
						</div>
						<aside class="notes">
						  - Why? Custom tpl for login page or by bean type
						  - THEME_prepreprocess_HOOK, html, page. block, etc
						  - THEME_theme_suggestions_HOOK_alter
					    </aside>

					</section>
				</section>


				<!-- Section: SMACSS & BEM -->
				<section data-background="lib/images/slide-bg-d8.png">
					<section>
						<h1>SMACSS &amp; BEM</h1>
					</section>
					<section>
						<h2>SMACSS</h2>
						<div class="block--left">
							<p>Folder structure for CSS</p>
							<ul class="fragment item-list">
								<li>Base</li>
								<li>Layout</li>
								<li><strike>Modules</strike> Components</li>
								<li>State</li>
								<li>Theme</li>
							</ul>
							<p class="fragment"><small>Read more: <a href="https://www.drupal.org/node/1887922">https://www.drupal.org/node/1887922</a><br><a href="https://smacss.com/">https://smacss.com/</a></small></p>
						</div>
						<div class="block--right fragment" data-markdown>
<script type="text/template">
<small>THEME.libraries.yml</small>
```
global:
  css:
    base:
      css/normalize.css: {}
      css/base.css: {}
    layout:
      css/layout.css: {}
    components:
      css/components.css: {}
    state:
      css/state.css: {}
    theme:
      css/theme.css: {}
      css/print.css: { media: print }
  js:
    js/modernizr.js: {}
```
</script>
						</div>
                        <aside class="notes">
							- Many CSS Philiosophies
							- In Drupal context, used for fodler structure
							- This structure is forced, you could ignore it.
							- What it gives you is loading by weight
						</aside>
					</section>

					<section>
				        <h2>
							<span class="fragment fade-out" data-fragment-index="0">BEM</span>
							<span class="fragment fade-in" data-fragment-index="0">CEM</span>
						</h2>
						<div class="fragment" data-markdown>
<script type="text/template">
```
<div class="block-name__elem-name--mod-name">
```
</script>
                        </div>

						<p class="fragment"><small>Read more: <a href="https://en.bem.info/">https://en.bem.info/</a></small></p>
						<aside class="notes">
							- Block, Element, Modifier
							- In drupal context, for naming components
						</aside>
					</section>
				</section>


				<!-- Section: Debug -->
				<section data-background="lib/images/slide-bg-d8-jp.png">
					<section>
						<h1>Debug</h1>
					</section>
					<section>
						<h2>Enable Debug</h2>
						<figure>
							<img src="lib/images/twig-debug-services.jpg" alt="">
							<figcaption>/sites/default/services.yml</figcaption>
						</figure>
					</section>
					<section>
						<h2>Source Output</h2>
						<img src="lib/images/twig-debug-output.png" alt="">

						dump()
						devel module's kint()

						drupal site:mode dev


					</section>
				</section>


				<!-- Section: Auto-Escaping -->
				<section data-background="lib/images/slide-bg-d8-jp.png">
					<section>
						<h1>Auto-Escaping</h1>
						<img src="lib/images/escape.jpg">

					</section>
					<section>
						<h2>Auto-Escaping</h2>
						<small style="margin-bottom: 0; vertical-align: bottom;">The user decides to set his first name to:</small>
						<pre><code class="html">&lt;script&gt;alert(&apos;I CAN HAZ UR SITE&apos;)&lt;/script&gt;</code></pre>

						<div class="block--left block--d7">
							<div data-markdown>
								<script type="text/template">
```php
<?php
global $user;
$account = entity_metadata_wrapper(
  'user', $user->uid);
$name = $account
  ->field_first_name
  ->value;
?>
First name: <?php print $name ?>!
```
								</script>
							</div>
							<div class="fragment" data-markdown>
								Escaped first name:

								<script type="text/template">
								```php
								<?php print check_plain($name) ?>!```
								</script>
							</div>
						</div>


						<div class="block--right block--d8 fragment">
							<div data-markdown>
								<script type="text/template">
```twig
{# Escaped by default! #}
{{ user.field_first_name.value }}
```
								</script>
							</div>
							<div data-markdown class="fragment">>
								<script type="text/template">
```html
&lt;script&gt;alert(&#039;I CAN HAZ
 UR SITE&#039;)&lt;/script&gt;
```
								</script>
							</div>

						</div>


					</section>
					<section>
						<h2>Un-escaping</h2>



						<small>You need the variable's markup or know it's previously sanitized user input.</small>
						<div class="block--left">
							<img src="lib/images/unescape.jpg">
						</div>
						<div class="block--right block--d8">
							<div  class="fragment">
								<div data-markdown>
<script type="text/template">
```php
// Wrapped in some object that
// implements MarkupInterface.
$variables['first'] = Markup::create(
  $user->field_first_name->value);
// Or a render array (this will
// implicitly XSS admin filter
// and is recommeneded.)
$variables['first'] = [
  '#markup' => $user->field_first_name
    ->value
];
```
```twig
{# Explicitly unescaped! #}
{{ first }}
```
</script>
								</div>
								<div class="fragment" data-markdown>
<script type="text/template">

```twig
{# Not recommended but possible, too #}
{{ user.field_first_name.value|raw }}
```
</script>
								</div>
							</div>
						</div>


					</section>
				</section>


				<!-- Section: Questions? -->
				<section data-background="lib/images/slide-bg-d8.png">
					<section>
						<h1>Questions?</h1>
					</section>
				</section>





				<!-- Keep for reference. Erase later... -->



				<section>
					<section data-transition="fade-out" data-transition-speed="fast">
					<p data-code-focus="1-5">
						<pre><code data-trim data-noescape>
defmodule Math do
	def sum(a, b) do
		<mark>a + b</mark>
	end
end
						</code></pre>
						</p>
						<!-- Focuses on the first line. -->
						<span class="fragment" data-code-focus="1">This focuses on a comment.</span>
						<!-- Empty fragment: lines will be focused without content appearing. -->
						<span class="fragment" data-code-focus="1-2"></span>
					</section>
				</section>

				<section data-markdown>
					<script type="text/template">
						## Markdown support

						Write content using inline or external Markdown.
						Instructions and more info available in the [readme](https://github.com/hakimel/reveal.js#markdown).

						```
						<section data-markdown>
							## Markdown support

							Write content using inline or external Markdown.
							Instructions and more info available in the [readme](https://github.com/hakimel/reveal.js#markdown).
						</section>
						```
					</script>
				</section>

				<section>
					<section id="fragments">
						<h2>Fragments</h2>
						<p>Hit the next arrow...</p>
						<p class="fragment">... to step through ...</p>
						<p><span class="fragment">... a</span> <span class="fragment">fragmented</span> <span class="fragment">slide.</span></p>

						<aside class="notes">
							This slide has fragments which are also stepped through in the notes window.
						</aside>
					</section>
					<section>
						<h2>Fragment Styles</h2>
						<p>There's different types of fragments, like:</p>
						<p class="fragment grow">grow</p>
						<p class="fragment shrink">shrink</p>
						<p class="fragment fade-out">fade-out</p>
						<p class="fragment current-visible">current-visible</p>
						<p class="fragment highlight-red">highlight-red</p>
						<p class="fragment highlight-blue">highlight-blue</p>
					</section>
				</section>

				<section id="transitions">
					<h2>Transition Styles</h2>
					<p>
						You can select from different transitions, like: <br>
						<a href="?transition=none#/transitions">None</a> -
						<a href="?transition=fade#/transitions">Fade</a> -
						<a href="?transition=slide#/transitions">Slide</a> -
						<a href="?transition=convex#/transitions">Convex</a> -
						<a href="?transition=concave#/transitions">Concave</a> -
						<a href="?transition=zoom#/transitions">Zoom</a>
					</p>
				</section>

				<section id="themes">
					<h2>Themes</h2>
					<p>
						reveal.js comes with a few themes built in: <br>
						<!-- Hacks to swap themes after the page has loaded. Not flexible and only intended for the reveal.js demo deck. -->
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/black.css'); return false;">Black (default)</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/white.css'); return false;">White</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/league.css'); return false;">League</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/sky.css'); return false;">Sky</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/beige.css'); return false;">Beige</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/simple.css'); return false;">Simple</a> <br>
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/serif.css'); return false;">Serif</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/blood.css'); return false;">Blood</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/night.css'); return false;">Night</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/moon.css'); return false;">Moon</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/solarized.css'); return false;">Solarized</a>
					</p>
				</section>

				<section>
					<section data-background="#dddddd">
						<h2>Slide Backgrounds</h2>
						<p>
							Set <code>data-background="#dddddd"</code> on a slide to change the background color. All CSS color formats are supported.
						</p>
						<a href="#" class="navigate-down">
							<img width="178" height="238" data-src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow">
						</a>
					</section>
					<section data-background="https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png">
						<h2>Image Backgrounds</h2>
						<pre><code class="hljs">&lt;section data-background="image.png"&gt;</code></pre>
					</section>
					<section data-background="https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png" data-background-repeat="repeat" data-background-size="100px">
						<h2>Tiled Backgrounds</h2>
						<pre><code class="hljs" style="word-wrap: break-word;">&lt;section data-background="image.png" data-background-repeat="repeat" data-background-size="100px"&gt;</code></pre>
					</section>
					<section data-background-video="https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.mp4,https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.webm" data-background-color="#000000">
						<div style="background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 20px;">
							<h2>Video Backgrounds</h2>
							<pre><code class="hljs" style="word-wrap: break-word;">&lt;section data-background-video="video.mp4,video.webm"&gt;</code></pre>
						</div>
					</section>
					<section data-background="http://i.giphy.com/90F8aUepslB84.gif">
						<h2>... and GIFs!</h2>
					</section>
				</section>

				<section data-transition="slide" data-background="#4d7e65" data-background-transition="zoom">
					<h2>Background Transitions</h2>
					<p>
						Different background transitions are available via the backgroundTransition option. This one's called "zoom".
					</p>
					<pre><code class="hljs">Reveal.configure({ backgroundTransition: 'zoom' })</code></pre>
				</section>

				<section data-transition="slide" data-background="#b5533c" data-background-transition="zoom">
					<h2>Background Transitions</h2>
					<p>
						You can override background transitions per-slide.
					</p>
					<pre><code class="hljs" style="word-wrap: break-word;">&lt;section data-background-transition="zoom"&gt;</code></pre>
				</section>

				<section>
					<h2>Pretty Code</h2>
					<pre><code class="hljs" data-trim contenteditable>
function linkify( selector ) {
	if( supports3DTransforms ) {

		var nodes = document.querySelectorAll( selector );

		for( var i = 0, len = nodes.length; i &lt; len; i++ ) {
			var node = nodes[i];

			if( !node.className ) {
				node.className += ' roll';
			}
		}
	}
}
					</code></pre>
					<p>Code syntax highlighting courtesy of <a href="http://softwaremaniacs.org/soft/highlight/en/description/">highlight.js</a>.</p>
				</section>

				<section>
					<h2>Marvelous List</h2>
					<ul>
						<li>No order here</li>
						<li>Or here</li>
						<li>Or here</li>
						<li>Or here</li>
					</ul>
				</section>

				<section>
					<h2>Fantastic Ordered List</h2>
					<ol>
						<li>One is smaller than...</li>
						<li>Two is smaller than...</li>
						<li>Three!</li>
					</ol>
				</section>

				<section>
					<h2>Tabular Tables</h2>
					<table>
						<thead>
							<tr>
								<th>Item</th>
								<th>Value</th>
								<th>Quantity</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Apples</td>
								<td>$1</td>
								<td>7</td>
							</tr>
							<tr>
								<td>Lemonade</td>
								<td>$2</td>
								<td>18</td>
							</tr>
							<tr>
								<td>Bread</td>
								<td>$3</td>
								<td>2</td>
							</tr>
						</tbody>
					</table>
				</section>

				<section>
					<h2>Clever Quotes</h2>
					<p>
						These guys come in two forms, inline: <q cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations">
						&ldquo;The nice thing about standards is that there are so many to choose from&rdquo;</q> and block:
					</p>
					<blockquote cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations">
						&ldquo;For years there has been a theory that millions of monkeys typing at random on millions of typewriters would
						reproduce the entire works of Shakespeare. The Internet has proven this theory to be untrue.&rdquo;
					</blockquote>
				</section>

				<section>
					<h2>Intergalactic Interconnections</h2>
					<p>
						You can link between slides internally,
						<a href="#/2/3">like this</a>.
					</p>
				</section>

				<section>
					<h2>Speaker View</h2>
					<p>There's a <a href="https://github.com/hakimel/reveal.js#speaker-notes">speaker view</a>. It includes a timer, preview of the upcoming slide as well as your speaker notes.</p>
					<p>Press the <em>S</em> key to try it out.</p>

					<aside class="notes">
						Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
					</aside>
				</section>

				<section>
					<h2>Export to PDF</h2>
					<p>Presentations can be <a href="https://github.com/hakimel/reveal.js#pdf-export">exported to PDF</a>, here's an example:</p>
					<iframe src="https://www.slideshare.net/slideshow/embed_code/42840540" width="445" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:3px solid #666; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
				</section>

				<section>
					<h2>Global State</h2>
					<p>
						Set <code>data-state="something"</code> on a slide and <code>"something"</code>
						will be added as a class to the document element when the slide is open. This lets you
						apply broader style changes, like switching the page background.
					</p>
				</section>

				<section data-state="customevent">
					<h2>State Events</h2>
					<p>
						Additionally custom events can be triggered on a per slide basis by binding to the <code>data-state</code> name.
					</p>
					<pre><code class="javascript" data-trim contenteditable style="font-size: 18px;">
Reveal.addEventListener( 'customevent', function() {
	console.log( '"customevent" has fired' );
} );
					</code></pre>
				</section>

				<section>
					<h2>Take a Moment</h2>
					<p>
						Press B or . on your keyboard to pause the presentation. This is helpful when you're on stage and want to take distracting slides off the screen.
					</p>
				</section>

				<section>
					<h2>Much more</h2>
					<ul>
						<li>Right-to-left support</li>
						<li><a href="https://github.com/hakimel/reveal.js#api">Extensive JavaScript API</a></li>
						<li><a href="https://github.com/hakimel/reveal.js#auto-sliding">Auto-progression</a></li>
						<li><a href="https://github.com/hakimel/reveal.js#parallax-background">Parallax backgrounds</a></li>
						<li><a href="https://github.com/hakimel/reveal.js#keyboard-bindings">Custom keyboard bindings</a></li>
					</ul>
				</section>

				<section style="text-align: left;">
					<h1>THE END</h1>
					<p>
						- <a href="http://slides.com">Try the online editor</a> <br>
						- <a href="https://github.com/hakimel/reveal.js">Source code &amp; documentation</a>
					</p>
				</section>

			</div>
			<footer style="position:absolute;bottom:0;background:#FFF;z-index:100;width:100%;font-size:0.5em;border-top:solid 1px #4D4D4F">
				<span style="float:right;line-height:50px;color:#4D4D4F;margin-right:10px;">D7 to D8 Theme Crash Course&nbsp;&nbsp;//&nbsp;&nbsp;@joelpittet&nbsp;&nbsp;//&nbsp;&nbsp;@leahamwagner</span>
			</footer>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					// { src: 'plugin/reveal-code-focus/code-focus.js',
					// 	async: true,
					// 	condition: function() { return !!document.querySelector( 'pre code' ); },
					// 	//callback: RevealCodeFocus
					// 	callback: function() { RevealCodeFocus(); }
					// },
					{ src: 'plugin/zoom-js/zoom.js', async: true },

					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
